.main{
     text-align: center;
     align-items: center;
    color:black;
     margin-top: 20px;
     border: 1px solid;
     padding: 60px;
     margin: 100px;
     background-color: rgb(116, 110, 225);
}